.skills h2{
    font-weight:400;
    letter-spacing:1px;
    margin-top:40px;
    margin-bottom: 5px;
    color:aqua;
    font-size: 16px;;
}
.progress-bar{
    background:#959595;
    width:600px;
    height:10px;
    border-radius:5px;

}
.progress-bar div{
    height:10px;
    border-radius: 5px;
    width:50%;
    background:red;
}
.progress-bar div span{
    height:40px;
    width:40px;
    border-radius: 50%7;
    background-color:#fff;
    float:right;
    margin-top: -15px;
    margin-right: -20px;
    color:#333;
    display:flex;
    align-items: center;
    justify-content: center;
}