
*{
    margin:0px;
    padding:0px;
box-sizing:border-box'

}
.navbar{
    background-color: black;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0.7rem;
    position:sticky;
    top:0px;
    z-index:1;
}
.navbar ul{
    display:flex;
    list-style: none;
    

}
.navbar ul li a{
    text-decoration: none ;
    padding:1rem;
    font-family: sans-serif;
    color: aliceblue;


}
.navbar ul li a:hover{
    
    border-bottom:3px solid #00a8ad ;
}

.logo{
    font-family:'lobster',cursive
}
.color-text{
    color:#00ADF3;
}
.header{
    height:100vh;

}
img{
background-size: cover;    
    background-position:center ;
    height:65%;
}
.header-div{
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 1.6rem;
    text-align: left;display:flex;
    justify-content: center;
    align-items: center;
    margin-left:1.3rem;
    padding-left: 1.3rem;;

}
.btn{
    background:#00ADF3;
    border:none;
    border-radius:10rem;
    padding:1rem;
    width:8rem;
    font-size: 1rem;
    font-weight: bolder;
    font-family:"Noto Sans JP",sans-serif;
}
.main-services{
    display:flex;
    flex:1;
}
.container{
    margin:10px auto;
    width:74rem;
}
.services-h1{
    text-align: center;
    font-family:'Noto Sans JP',sans-serif;
    font-size:3rem;
    margin-bottom: 2rem;

}
.main-p{
    text-align:center;
    font-weight: bold;
    color:#00adf3;

}
.services-h3{
    text-align:center;
    padding-bottom: 1.6rem;
}
.cards-p{
    margin:10px auto;
    font-size: 1rem;
    padding-bottom: 1.6rem;

}
.cards{
    text-align: center;
    font-family:'Noto sans jp',sans-serif ;
    padding:1.3rem;
    border:1.5px solid #c2bdc7;
    margin-left: 1rem;
}
.cards:hover{
    border:3px solid #00ADf3;
}
.cards i{

color:#00ADF3;
padding:2rem;
}

